<ion-header>

  <ion-navbar color="smart2">
    <ion-title>Esqueci Minha Senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)" color="danger">
          <div [hidden]="!form.controls.email.errors.required">
            O Campo é Obrigatório
          </div>
        </ion-item>

    <div padding>
        <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">
          Resetar Senha
      </button>
    </div>
    </form>


  <!-- <form #form="ngForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="userEmail" #email="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
        O Campo é Obrigatório
      </ion-item>

    </ion-list> -->

    <!-- <button ion-button block color="blue" [disabled]="!form.form.valid" (click)="resetPassword()">
      Resetar a Senha
    </button> -->
  <!-- </form> -->
</ion-content>
